MONGO_URL=mongodb://root:wXa7oSXnqMzT5LRPnJe8E6Kz@labs-mongo-millions-tinkling-microphone.mongo.databases.labs.skills.network:27017
JWT_SECRET=setasecret

MONGO_DB=secondChance
MONGO_COLLECTION=secondChanceItems

